<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Megrim|Nunito+Sans:400,900"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/155/ear-of-maize_1f33d.png"
    />

    <title>{%PRODUCTNAME%} 🥭</title>
  </head>

  <body>
    <div class="container">
      <h1>আম বাজার</h1>

      <figure class="product">
        <a href="/overview" class="product__back">
          <span class="emoji-left">👈</span>Back
        </a>
        <div class="product__hero">
          <img src="{%HEROIMAGE%}" alt="{%PRODUCTNAME%}" />
        </div>
        <h2 class="product__name">{%PRODUCTNAME%}</h2>
        <div class="product__details">
          <p class="product__headline">{%HEADLINE%}</p>
          <p class="product__from">From {%FROM%}</p>
          <p class="product__weight">{%WEIGHT%}</p>
          <p class="product__quantity">{%QUANTITY%}</p>
          <p class="product__description">{%DESCRIPTION%}</p>
          <p class="product__price">{%PRICE%}€</p>
        </div>

        <a href="#" class="product__link">
          <span class="emoji-left">🛒</span>
          <span>কিনে ফেলুন ({%PRICE%}€)</span>
        </a>

        <p class="product__description">{%DESCRIPTION%}</p>
      </figure>
    </div>
  </body>
</html>
